
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class = "org.example.Dev">

<!-- 10     Getter/setter injection of primitive type variables-->
<!-- 10       <property name="age" value="18"/>-->
<!-- 10       <constructor-arg value="DS"/>-->

<!-- 10       Getter/setter injection of Non-primitive type variables-->
<!-- 10       <property name="laptop" ref="lap1"/>-->
<!-- 10        <constructor-arg ref="lap1"/>-->

<!--        <property name="comp" ref="lap1" />-->
        <property name="comp" ref="desk1" />

    </bean >

    <bean id="lap1" class = "org.example.Laptop">
    </bean>

    <bean id="desk1" class = "org.example.Desktop" >
    </bean>

</beans>
